$page_width: 1170px;
$nav_height: 64px;
$main_box_width: 798px;
$sidebar_width: 356px;
$theme_color: #5c87d9;
$main_font_color: #212121;
$assist_font_color: #878787;
$line_color: #eeeeee;
$banner_height: 202px;
$banner_width: $main_box_width;

$free_color: #7ed321;
$pay_color: #f76363;